.about{
	section:nth-child(2){
		background: #f8f8f8;
		
		.service{
			width: 22%;
      margin: 0px 11px;
      height: 380px;
			display: inline-block;
			vertical-align: top;
			background:#fff;
			padding: 25px 24px;

			h5{
				font-family: 'Signika', serif;
				font-weight: 600;
				font-size: 1.1rem;
				margin-top: 20px;
				margin-bottom: 14px;
				height: 39px;
				text-align: center;
			}
			p{
				font-size: 1rem;
				color: #555;
			}
			.icon{
				font-size: 4rem;
			    display: flex;
			    justify-content: center;
			    color: black;

			}
			
		}	
	}

	section:nth-child(3){
		.s-box{
		    vertical-align: top;
		    display: inline-block;
	        width: 22%;
			margin: 12px 47px;
		}

		.percentage{
			width: 100%;
			height:6px;
			background: #d8d8d8;
			
			.skill-percen{
				height: 100%;
				background: #5069c3;
			}

			&::after{
				content: attr(data-percentage);
				position:relative;
			    left: calc(100% + 8px);
				bottom: 16px;
			}
		}

		.category{
			font-family: 'Signika', serif;
			font-size: 1.2rem;
			font-weight: 700;
			color: #555;
			padding: 14px 0;
			white-space: nowrap;
		}

		.subject{
			font-family: 'Abel', serif;
			font-size: 1.15rem;
			color: #222;
			padding-top: 12px;
		}
		
	}
  .about-text{
    font-size: 1.1rem;
    line-height: 1.6;
    margin-top: 6px;
    font-weight: 500;
  }
  .list-wrapepr {
    list-style: circle;
    margin-left: 20px;

    .about-text {
      color: #555;
    }
  }
}

@media screen and (max-width: 1300px){
	
	.about{
		section:nth-child(2){
			.service{
			    width: 42%;
			    margin: 18px 27px;
			    height: 328px;
			    padding: 30px 28px;
			}	
		}
		section:nth-child(3){
			.s-box{
			    width: 20%;
				margin: 15px 46px;
			}
		}
	}
}

@media screen and (max-width: 1180px){
	
	.about{
		section:nth-child(2){
			.service{
	            width: 43%;
			    margin: 18px 20px;
			    height: 380px;
			    padding: 30px 28px;
			}	
		}
		section:nth-child(3){
			.s-box{
			    width: 38%;
			    margin: 16px 33px;
			}
		}
	}
}

@media screen and (max-width: 998px){
	
	.about{
		section:nth-child(2){
			.service{
	            width: 43%;
			    margin: 18px 21px;
			    height: 340px;
			    padding: 30px 28px;
			}	
		}
		section:nth-child(3){
			.s-box{
			    width: 39%;
			    margin: 16px 34px;
			}
		}
	}
}

@media screen and (max-width: 680px){
	.about{
		section:nth-child(2){
			.service{
	            width: 84%;
			    margin: 28px auto;
			    height: auto;
			    display: block;
			    padding: 30px 28px;
			}	
		}
		section:nth-child(3){
			.s-box{
		        width: 32%;
    			margin: 16px 8%;
			}
		}
	}
}

