@import "tailwindcss";
@config "../../tailwind.config.js";

@layer base {
  html {
    line-height: 1.5;
    font-size: 14px;
    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  }

  a {
    transition-duration: 0.2s;
  }
}
