@import url("vue-transition.scss");

$content_width: 1280px;
$nav_height: 68px;
$person_width: 280px;
$division: 32px;
$main_color: #5069c3;

body::-webkit-scrollbar {
  display: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_color {
  background: $main_color;
}

.shadower {
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
}

.box-border {
  border: 1px solid #f8f8f8;
  border-radius: 8px;
}

.bg-cover {
  background: linear-gradient(to bottom, #e8e8fa 0%, #fae8df 54%, #e8e8e8 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #222;
  min-height: 100vh;
}

.bg-cover-amoeba {
  position: fixed;
  z-index: 0;
  bottom: -5%;
  top: -5%;
  left: -6%;
  right: 5%;
}

#app {
  width: $content_width;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  gap: 40px;
}

.person-info {
  flex: none;
  width: $person_width;
  height: 580px;
  background: #fff;
  transform: translateZ(0px);
  position: sticky;
  top: 20px;

  .n-intro {
    padding: 20px 22px;
    position: relative;
    .n-name {
      text-align: center;
      font-family: "Tangerine", serif;
      font-weight: 400;
      font-size: 2.8rem;
      color: #000;
      text-shadow: 4px 4px 4px #eee;
    }
    .n-subtitle {
      font-family: "Jura", serif;
      color: #888;
      font-size: 0.9rem;
      position: absolute;
      left: 12px;
      bottom: -10px;
      z-index: 2;
    }
  }

  .photo-container {
    position: relative;
    display: flex;
    justify-content: center;
    .vg-photo {
      display: block;
      width: 100%;
      filter: brightness(120%) grayscale(31%);
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -1px;
      display: block;
      width: 0;
      height: 0;
      border-width: 25px calc(#{$person_width} - 2px) 0 0;
      border-style: solid;
      border-color: #fff transparent transparent;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      display: block;
      width: 0;
      height: 0;
      border-width: 0 0 25px calc(#{$person_width} - 2px);
      border-style: solid;
      border-color: transparent transparent #fff;
    }
  }

  .vg-info-container {
    padding: 0 29px 20px;
    .vg-info {
      font-size: 0.95rem;
      font-weight: 400;
      color: #888;
      padding-top: 8px;
    }
    .info-icon {
      color: #555;
    }
    .info-title {
      font-family: "Signika", serif;
      color: #555;
      font-weight: 500;
      margin-left: 4px;
    }

    .info {
      text-indent: 0.6rem;
    }
  }
}

.content {
  position: relative;
  flex: 1;
  min-width: 0;

  .router-link-active {
    color: $main_color !important;
  }

  .dynamic-content {
    margin-top: $division;
    background: #fff;
    font-size: 1.05rem;
    transition: all 0.5s ease;

    em {
      font-style: normal;
    }

    .t-link {
      color: $main_color;
      &:hover {
        opacity: 0.8;
      }
    }

    section {
      padding: 27px 26px 46px;

      h1 {
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 12px;
        font-family: "Signika", serif;
        display: inline-block;
        &:after {
          content: "";
          height: 8px;
          background: #5069c3;
          opacity: 0.3;
          width: 100%;
          display: block;
          position: relative;
          top: -14px;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  $content_width: 1120px;

  #app {
    width: $content_width;
  }

  .content {
    .dynamic-content {
      margin-top: $division;
    }
  }
}

@media screen and (max-width: 1180px) {
  $content_width: 980px;

  #app {
    width: $content_width;
  }

  .content {
    .dynamic-content {
      margin-top: $division;
    }
  }
}

@media screen and (max-width: 998px) {
  $content_width: 680px;
  $person_width: 680px;
  $division: 32px;

  #app {
    width: $content_width;
    flex-direction: column;
  }

  .person-info {
    width: $person_width;
    height: 920px;
    display: block;
    position: relative;
    .n-intro {
      padding: 20px 22px 0px;
      .n-name {
        font-size: 3.8rem;
      }
      .n-subtitle {
        font-size: 1.3rem;
        left: 24px;
        bottom: -26px;
      }
    }
    .photo-container {
      &::before {
        border-width: 62px calc(#{$person_width} - 1px) 0 0;
      }
      &::after {
        border-width: 0 0 62px calc(#{$person_width} - 1px);
      }
    }

    .vg-info-container {
      text-align: center;
      padding: 12px 40px 10px;
      .vg-info-box {
        display: inline-block;
        width: 42%;
        text-align: left;
        vertical-align: top;
        .vg-info {
          font-size: 1.15rem;
        }
      }
    }
  }

  .content {
    width: $content_width;
    display: inline-block;
    padding-left: 0;
    padding-top: $division;

    .dynamic-content {
      margin-top: $division;

      section {
        padding: 27px 15px 46px;
        overflow: hidden;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  $content_width: 100%;
  $person_width: 100%;

  #app {
    width: $content_width;
    margin: 0 auto;
    padding-top: 0;
  }

  .person-info {
    width: $person_width;
    height: auto;
    display: block;
    .n-intro {
      padding: 4px 22px 0px;
      .n-name {
        font-size: 3.8rem;
      }
      .n-subtitle {
        font-size: 1.3rem;
        position: static;
        text-align: center;
        padding-bottom: 10px;
      }
    }
    .photo-container {
      .vg-photo {
        width: 70%;
        border-radius: 15px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
      }
      &::before {
        border-width: 0;
      }
      &::after {
        border-width: 0;
      }
    }

    .vg-info-container {
      text-align: left;
      padding: 18px 40px 22px;
      .vg-info-box {
        display: inline-block;
        text-align: left;
        width: 100%;
        .vg-info {
          font-size: 1.15rem;
        }
      }
    }
  }

  .content {
    width: $content_width;
    display: inline-block;
    padding-left: 0;
    padding-top: $division;

    .dynamic-content {
      margin-top: $division;
    }
  }
}
